@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@200&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
    font-size: 28px;
}

@media only screen and (max-width: 3840px) {
    html {
        font-size: 24px;
    }
}

@media only screen and (max-width: 2561px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1921px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1281px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 12px;
    }
}
  
  

html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: rgb(34,34,51);
    /* background: linear-gradient(40deg, rgba(34,34,51,1) 0%, rgba(51,51,68,1) 100%); */
    background: linear-gradient(220deg, #222233, #4c4c5d);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    -o-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
    overflow: hidden;
    color: #fff;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.address-bar {
    position: fixed;
    top: 2rem;
    height: 2rem;
    left: 10rem;
    right: 10rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.address-bar>input{
    flex: 1;
    max-width: 34rem;
}

.address-bar>a{
    width: 4rem;
    text-align: center;
    align-content: center;
    height: 2rem;
    line-height: 2rem;
    color: #223;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pill{
    height: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    color: #223;
}
.pill>img {
    width: 2rem;
    height: 2rem;
    float: left;
}

.search-engines{
    position: fixed;
    top: 5rem;
    left: 2rem;
    right: 2rem;
    display: grid;
    grid-template-columns: auto /*20rem 2rem*/ 20rem auto;
    grid-template-rows: auto;
    grid-template: "spacer item spacer item spacer";
    text-align: center;
}
/* .search-engines>.spacer{
    grid-area: spacer;
}
.search-engines>a{
    grid-area: item;
} */

.content{
    position: fixed;
    bottom: 2rem;
    top: 8rem;
    left: 4rem;
    right: 4rem;
    border: none;
    border-radius: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content>.bg{
    background-color: #5c6fb9;
    opacity: 0.05;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.group {
    text-align: center;
    width: 90%;
    left: 5%;
    right: 5%;
    position: relative;
}

.group>.tile-container {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
    flex:content;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.group-container{
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 2%;
    right: 2%;
    position: absolute;
    width: 96%;
    text-align: center;
    scrollbar-color: #3484c2 #223;
    scrollbar-width: thin;
}

.group-container::-webkit-scrollbar {
    width: 0.5rem;
}
  
.group-container::-webkit-scrollbar-track {
    background-color: #223;
    border-radius: 100px;
}

.group-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.tile {
    width: 6rem;
    height: 6rem;
    background-color: #223;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #223;
    box-sizing: border-box;
    border: #2af solid 0rem;
    border-image-slice: 1;
    transition: all 0.1s;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #223;
    color: white;
    text-decoration: none;
    margin: 0.4rem;
    margin-bottom: 4rem;
    background-size: 80%;
}

.tile>span {
    display: block;
    text-align: center;
    position: relative;
    bottom: -6.5rem;
    width: 6rem;
    height: 4rem;
    overflow: hidden;
    line-break: auto;
    font-weight: bold;
}

.tile:hover{
    border-width: 0.3rem;
}

.particle {
    opacity: 0.25;
    background: #fff;
    width: 0.5rem;
    height:0.5rem;
    position: absolute;
    left: 50%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #fff;
  }

  article {
    background: #000;
    padding: 1rem;
    border-radius: 1rem;
    opacity: 0.7;
  }